/* Tours */

.tours-wrapper {
  padding: 65px;
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
}

.tours-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  padding: 50px;
}

.tours-header h1 {
  font-weight: 500;
}

.tours-header p {
  font-weight: 300;
}

.Tours-container {
  background-color: #f5f3f4;
}

.toursCard {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  border-top: 1px solid lightgray;
  max-width: 1200px;
  margin: 0 auto;
  padding: 36px 0px;
  text-align: left;
}

.toursCard-review-stars {
  gap: 2px;
  display: flex;
}

.toursCard-reviews {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toursCard-time {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toursCard-image {
  max-width: 350px;
  width: 100%;
  height: 250px;
  border-radius: 8px;
  transition: all 0.5s;
}

.toursCard-image:hover {
  filter: brightness(70%);
  cursor: pointer;
}

.toursCard h3 {
  font-weight: 500;
  font-size: 1.5em;
}

.toursCard h4 {
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
}

.toursCard-left {
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.toursCard-mid {
  max-width: 500px;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.toursCost-style {
  font-size: 1.3125em;
  font-weight: 500;
  color: #1e88e5;
}

.tours-btn {
  max-width: 150px;
  width: 100%;
}

.tours-btn-wrapper {
  padding-bottom: 32px;
}

@media (max-width: 1330px) {
  .toursCard h3 {
    font-size: 1.35em;
  }

  .toursCard-description {
    display: none;
  }
  .toursCard-mid {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .toursCard-mid p {
    font-size: 12px;
  }
  .toursCard-mid h1 {
    font-size: 30px;
  }

  .toursCard-image-container {
    order: 1;
  }
  .toursCard {
    flex-direction: column;
    gap: 12px;
  }

  .toursCard-left {
    gap: 8px;
    order: 3;
    justify-content: start;
    align-items: start;
    max-width: 335px;
    width: 100%;
    margin: 0 auto;
  }
  .toursCard-image {
    order: 1;
  }
}

@media (max-width: 600px) {
  .toursCard h3 {
    font-size: 1em;
  }
  .toursCard-image {
    max-width: 280px;
    width: 100%;
    height: 180px;
  }
  .toursCard-left {
    margin: 0 auto;
    width: 100%;
    max-width: 265px;
  }
  .toursCard {
    gap: 6px;
  }
}
